In [18]:
from path import Path as path
import pandasai as pai
from pandasai_openai.openai import OpenAI
from pandasai_local import LocalLLM

In [26]:
llm1 = OpenAI(
    #os.getenv("OPENAI_API_KEY")
    model="gpt-4.1-nano"
)

llm = LocalLLM(
    # lmstudio
    # api_base="http://localhost:1234/v1",

    # ollama
    api_base="http://localhost:11434/v1",
    # model="mistral"             # OK
    # model="mistral-nemo"        # OK
    model="mistral-small:22b"   # OK
    # model="phi4"                # OK
    # model="gemma3:12b"          # -- OK
    # model="phi4-reasoning"      # -- NO: too time
    # model="qwen3:14b"           # OK: a lot of time
    # model="magistral"           # -- NO: too time
    # model="deepseek-r1:14b"     # OK: a lot of time
    # model="granite3.3"          # - NO: not a number
    # model="falcon3:10b"         # OK, may be
)

pai.config.set({
    "llm": llm,
    "verbose": False
})

In [27]:
schema_path = path(r"D:\Projects.github\python_projects\check_pandasai\datasets\history\titanic\schema.yaml")
schema_path.remove_p()
#
sql_table = pai.create(
    # Format: "organization/dataset"
    path="history/titanic",

    # Optional description
    description="Titanic passengers alive and death after the disaster",

    # Define the source of the data, including connection details and
    # table name
    source={
        "type": "postgres",
        "connection": {
            "host": "localhost",
            "port": 5432,
            "user": "postgres",
            "password": "p0stgres",
            "database": "python"
        },
        "table": "titanic",
        "columns": [
            {
                "name": "passengerid",
                "type": int,
                "description": "Passenger ID"
            },
            {
                "name": "survived",
                "type": bool,
                "description": "Survived"
            },
            {
                "name": "pclass",
                "type": int,
                "description": "Pclass"
            },
            {
                "name": "name",
                "type": str,
                "description": "Name"
            },
            {
                "name": "sex",
                "type": str,
                "description": "Sex"
            },
            {
                "name": "age",
                "type": int,
                "description": "Age"
            },
            {
                "name": "sibsp",
                "type": int,
                "description": "Siblings/Spouses Aboard"
            },
            {
                "name": "parch",
                "type": int,
                "description": "Parents/Children Aboard"
            },
            {
                "name": "ticket",
                "type": str,
                "description": "Ticket Number"
            },
            {
                "name": "fare",
                "type": float,
                "description": "Fare"
            },
            {
                "name": "cabin",
                "type": str,
                "description": "Cabin"
            },
            {
                "name": "embarked",
                "type": str,
                "description": "Port of Embarkation, where C = Cherbourg, Q = Queenstown, S = Southampton"
            }
        ]
    }
)

Dataset saved successfully to path: history\titanic

In [28]:
sql_table.chat("How many passengers survived?")

2025-08-06 10:42:54 [INFO] Question: How many passengers survived?
2025-08-06 10:42:54 [INFO] Running PandasAI with local LLM...
2025-08-06 10:42:54 [INFO] Prompt ID: cedd4be2-b74f-4830-88ca-4ec624b99ecc
2025-08-06 10:42:54 [INFO] Generating new code...
2025-08-06 10:42:54 [INFO] Using Prompt: <tables>

<table dialect="postgres" table_name="titanic" description="Titanic passengers alive and death after the disaster" dimensions="891x0">
passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,,S
</table>


</tables>

You are already provided with the following functions that you can call:
<function>
def execute_sql_query(sql_query: str) -> pd.Dataframe
    """This method connects to the database, executes the sql query and returns the dataframe"""
</function>


Update this initial code:
```python
# TODO: import the required dependencies
import pandas as pd

# Write code here

# Declare result var:
type (possible values "string", "number", "dataframe", "plot"). Examples: { "type": "string", "value": f"The highest salary is {highest_salary}." } or { "type": "number", "value": 125 } or { "type": "dataframe", "value": pd.DataFrame({...}) } or { "type": "plot", "value": "temp_chart.png" }

```



### QUERY
 How many passengers survived?

At the end, declare "result" variable as a dictionary of type and value.


Generate python code and return full updated code:

### Note: Use only relevant table for query and do aggregation, sorting, joins and grouby through sql query
2025-08-06 10:43:38 [INFO] HTTP Request: POST http://localhost:11434/v1/chat/completions "HTTP/1.1 200 OK"
2025-08-06 10:43:38 [INFO] Code Generated:
# TODO: import the required dependencies
import pandas as pd

# Write code here
def execute_sql_query(sql_query: str) -> pd.DataFrame:
    """This method connects to the database, executes the sql query and returns the dataframe"""
    # Example connection string (you should replace with your actual database details)
    conn = ...

    # Execute SQL query
    result = ...

    return pd.DataFrame(result)  # Assuming the result is in a format that can be converted to DataFrame

# SQL Query to count the number of survivors
sql_query = """
SELECT COUNT(*) AS survived_count
FROM titanic
WHERE survived = 1;
"""

# Execute the query and get the result as a pandas dataframe
result_df = execute_sql_query(sql_query)

# Declare result var:
result = {
    "type": "number",
    "value": result_df['survived_count'].values[0]
}

print(result)
2025-08-06 10:43:38 [INFO] Validating code requirements...
2025-08-06 10:43:38 [INFO] Code validation successful.
2025-08-06 10:43:38 [INFO] Cleaning the generated code...
2025-08-06 10:43:38 [INFO] Executing code: import pandas as pd
sql_query = """
SELECT COUNT(*) AS survived_count
FROM titanic
WHERE survived = 1;
"""
result_df = execute_sql_query(sql_query)
result = {'type': 'number', 'value': result_df['survived_count'].values[0]}
print(result)
{'type': 'number', 'value': 342}
2025-08-06 10:43:38 [INFO] Response generated successfully.

NumberResponse(type='number', value=342)

In [25]:
pai.chat("Had any passengers aboard the Titanic?", sql_table).value

2025-08-06 10:42:34 [INFO] Question: Had any passengers aboard the Titanic?
2025-08-06 10:42:34 [INFO] Running PandasAI with openai LLM...
2025-08-06 10:42:34 [INFO] Prompt ID: 80a364db-d6bc-44e6-b47f-9a744d37ac40
2025-08-06 10:42:34 [INFO] Generating new code...
2025-08-06 10:42:34 [INFO] Using Prompt: <tables>

<table dialect="postgres" table_name="titanic" description="Titanic passengers alive and death after the disaster" dimensions="891x0">
passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,,S
</table>


</tables>

You are already provided with the following functions that you can call:
<function>
def execute_sql_query(sql_query: str) -> pd.Dataframe
    """This method connects to the database, executes the sql query and returns the dataframe"""
</function>


Update this initial code:
```python
# TODO: import the required dependencies
import pandas as pd

# Write code here

# Declare result var:
type (possible values "string", "number", "dataframe", "plot"). Examples: { "type": "string", "value": f"The highest salary is {highest_salary}." } or { "type": "number", "value": 125 } or { "type": "dataframe", "value": pd.DataFrame({...}) } or { "type": "plot", "value": "temp_chart.png" }

```



### QUERY
 Had any passengers aboard the Titanic?

At the end, declare "result" variable as a dictionary of type and value.


Generate python code and return full updated code:

### Note: Use only relevant table for query and do aggregation, sorting, joins and grouby through sql query
2025-08-06 10:42:37 [INFO] HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2025-08-06 10:42:37 [INFO] Code Generated:
# TODO: import the required dependencies
import pandas as pd

# Write code here
# Query to find out if there were any passengers aboard the Titanic
sql_query = """
SELECT COUNT(*) AS total_passengers
FROM titanic
"""

# Execute the SQL query
df_result = execute_sql_query(sql_query)

# Check if there were any passengers
total_passengers = df_result['total_passengers'].iloc[0]

# Prepare the result based on whether there were passengers or not
if total_passengers > 0:
    result = {
        "type": "string",
        "value": f"There were {total_passengers} passengers aboard the Titanic."
    }
else:
    result = {
        "type": "string",
        "value": "There were no passengers aboard the Titanic."
    }
2025-08-06 10:42:37 [INFO] Validating code requirements...
2025-08-06 10:42:37 [INFO] Code validation successful.
2025-08-06 10:42:37 [INFO] Cleaning the generated code...
2025-08-06 10:42:37 [INFO] Executing code: import pandas as pd
sql_query = """
SELECT COUNT(*) AS total_passengers
FROM titanic
"""
df_result = execute_sql_query(sql_query)
total_passengers = df_result['total_passengers'].iloc[0]
if total_passengers > 0:
    result = {'type': 'string', 'value': f'There were {total_passengers} passengers aboard the Titanic.'}
else:
    result = {'type': 'string', 'value': 'There were no passengers aboard the Titanic.'}
2025-08-06 10:42:37 [INFO] Response generated successfully.

'There were 891 passengers aboard the Titanic.'

In [10]:
pai.chat("How many passengers where embarked in Queenstown?", sql_table)

2025-08-06 10:31:23 [INFO] Question: How many passengers where embarked in Queenstown?
2025-08-06 10:31:23 [INFO] Running PandasAI with openai LLM...
2025-08-06 10:31:23 [INFO] Prompt ID: 4c1bcb5c-6511-4eee-8e42-5634a2713cf3
2025-08-06 10:31:23 [INFO] Generating new code...
2025-08-06 10:31:23 [INFO] Using Prompt: <tables>

<table dialect="postgres" table_name="titanic" description="Titanic passengers alive and death after the disaster" dimensions="891x0">
passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,,S
</table>


</tables>

You are already provided with the following functions that you can call:
<function>
def execute_sql_query(sql_query: str) -> pd.Dataframe
    """This method connects to the database, executes the sql query and returns the dataframe"""
</function>


Update this initial code:
```python
# TODO: import the required dependencies
import pandas as pd

# Write code here

# Declare result var:
type (possible values "string", "number", "dataframe", "plot"). Examples: { "type": "string", "value": f"The highest salary is {highest_salary}." } or { "type": "number", "value": 125 } or { "type": "dataframe", "value": pd.DataFrame({...}) } or { "type": "plot", "value": "temp_chart.png" }

```



### QUERY
 How many passengers where embarked in Queenstown?

At the end, declare "result" variable as a dictionary of type and value.


Generate python code and return full updated code:

### Note: Use only relevant table for query and do aggregation, sorting, joins and grouby through sql query
2025-08-06 10:31:26 [INFO] HTTP Request: POST https://api.openai.com/v1/chat/completions "HTTP/1.1 200 OK"
2025-08-06 10:31:26 [INFO] Code Generated:
# TODO: import the required dependencies
import pandas as pd

# Write code here
sql_query = """
SELECT COUNT(*) AS total_passengers
FROM titanic
WHERE embarked = 'Q'
"""

# Execute the SQL query to get the number of passengers embarked in Queenstown
df_result = execute_sql_query(sql_query)

# Extract the count from the dataframe
total_passengers_q = df_result['total_passengers'].iloc[0]

# Declare result variable
result = {
    "type": "number",
    "value": total_passengers_q
}
2025-08-06 10:31:26 [INFO] Validating code requirements...
2025-08-06 10:31:26 [INFO] Code validation successful.
2025-08-06 10:31:26 [INFO] Cleaning the generated code...
2025-08-06 10:31:26 [INFO] Executing code: import pandas as pd
sql_query = """
SELECT COUNT(*) AS total_passengers
FROM titanic
WHERE embarked = 'Q'
"""
df_result = execute_sql_query(sql_query)
total_passengers_q = df_result['total_passengers'].iloc[0]
result = {'type': 'number', 'value': total_passengers_q}
2025-08-06 10:31:26 [INFO] Response generated successfully.

NumberResponse(type='number', value=77)